.container {
    display: flex;
    flex-flow: row nowrap;
    width: 200vw;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    align-items: center;
    justify-content: flex-start;
}

.right {
    display: flex;
    width: 50vw;
    /* height: 200vw; */
    margin-left: 1vw;
    margin-right: 1vw;
    flex-direction: column;
    /* padding: 2vw; */
}

.slider {
    width: 40vw;
    max-width: 450px;
    height: 40vw;
    max-height: 450px;
    border-radius: 2%;
}

.product-detail {
	background-color: lightgray;
	border-radius: 5px;
	width: 40vw;
    margin-top: 4vw;
}

.card {
    /* margin-top: 150px; */
    position: fixed;
    width: 40vw;
}

.card-body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
}

.card-body > * {
    padding: 0px;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.card-body > h4 {
    display: flex;
    justify-content: space-between;
}

.card-body > h4 > span {
    font-size: 1.4em;
}

.card-body > p {
    font-size: 16px;
    margin: 2px;
}

.count-form {
    display: flex;
    justify-content: space-between;
}

.count-form-left {
    display: flex;
    justify-content: start;
}

.count-form-right {
    display: flex;
    justify-content: flex-start;
    width: 200px;
}

.count-form-right > button {
    visibility: hidden;
}

.count-form-right > button > p {
    visibility: visible;
    font-size: 1.2em;
}

.count-form-right > input {
    width: 50px;
    height: 30px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons > button {
    width: 14vw;
    height: 5vw;
    font-size: 1.5vw;
}